
@font-face {
    font-family: 'helvetica-bold';
    src: url('../fonts/fonts/helvetica-bold.eot');
    src: url('../fonts/fonts/helvetica-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fonts/helvetica-bold.woff2') format('woff2'),
        url('../fonts/fonts/helvetica-bold.woff') format('woff'),
        url('../fonts/fonts/helvetica-bold.ttf') format('truetype'),
        url('../fonts/fonts/helvetica-bold.svg#HelveticaNeueLTGEO-75Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-medium';
    src: url('../fonts/fonts/helvetica-medium.eot');
    src: url('../fonts/fonts/helvetica-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fonts/helvetica-medium.woff2') format('woff2'),
        url('../fonts/fonts/helvetica-medium.woff') format('woff'),
        url('../fonts/fonts/helvetica-medium.ttf') format('truetype'),
        url('../fonts/fonts/helvetica-medium.svg#HelveticaNeueLTGEO-65Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica-roman';
    src: url('../fonts/fonts/helvetica-roman.eot');
    src: url('../fonts/fonts/helvetica-roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/helvetica-roman.woff2') format('woff2'),
    url('../fonts/fonts/helvetica-roman.woff') format('woff'),
    url('../fonts/fonts/helvetica-roman.ttf') format('truetype'),
    url('../fonts/fonts/helvetica-roman.svg#HelveticaNeueLTGEO-55Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metal-bold';
    src: url('../fonts/fonts/metal-bold.eot');
    src: url('../fonts/fonts/metal-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/metal-bold.woff2') format('woff2'),
    url('../fonts/fonts/metal-bold.woff') format('woff'),
    url('../fonts/fonts/metal-bold.ttf') format('truetype'),
    url('../fonts/fonts/metal-bold.svg#GLTatishviliMetal-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

$medium-font: 'helvetica-medium';
$primary-font: 'helvetica-roman';
$bold-font: 'helvetica-bold';
$metal-bold: 'metal';